body {
    --color-pallett-0: #101114;
    --color-pallett-1: #181920;
    --color-pallett-2: #1C1E26;
    --color-pallett-3: #20222C;
    --color-pallett-4: #252732;
    --color-pallett-5: #292B38;
    --color-pallett-6: #2D2F3E;
    --color-pallett-7: #313444;
    --color-pallett-8: #35384A;

    --color-text: white;
}
